/*데스크탑*/
.setting p{
    font-size: 2em;
    transition: 1s;
    z-index: 1;
}
.setting .histroy1{
    transition: 1s;
    z-index: 1;
}
.histroy1{
    width: 35em;
    transition: 1s;
    z-index: 1;
}
.histroy2{
    width: 15em;
    transition: 1s;
    z-index: 1;
}
.develop{
    text-align: right;
    font-size: 2em;
    transition: 1s;
    z-index: 1;
}

/*타블렛*/
@media screen and (max-width:768px){
    .setting  p{
        font-size: 1.5em;
        transition: 1s;
        z-index: 1;
    }
    .setting{
        width: 35em;
        transition: 1s;
        z-index: 1;
    }
    .histroy2{
        width: 25em;
        transition: 1s;
        z-index: 1;
    }
    .develop{
        font-size: 1.5em;
        transition: 1s;
        text-align: right;
        z-index: 1;
    }

/*모바일*/
@media screen and (max-width:576px){
    .setting  p{
        font-size: 1.2em;
        transition: 1s;
        z-index: 1;
    }
    .histroy1{
        width: 30em;
        transition: 1s;
        z-index: 1;
    }
    .histroy2{
        width: 20em;
        transition: 1s;
        z-index: 1;
    }
    .develop{
        font-size: 1.2em;
        transition: 1s;
        text-align: right;
        z-index: 1;
    }

}