@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;500&display=swap');

/* Variables CSS*/
:root {
    /*color*/
    --first-color: #222831;
    --second-color: #00ADB5;
    --body-color: #000000;

    /*font*/
    --body-font: 'Noto Serif KR', serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-regular: 400;
    --font-bold: 700;
    --font-extra-bold: 800;
}

body{
    font-family: var(--body-font);
    color: var(--body-color);
}


body::-webkit-scrollbar{
    display: none;
}

header{
    background-color: var(--first-color);
    position: sticky;
    top: 0;
    
}
nav{
    height: 44px;

}
.nav.container{
    display: flex; /*기본값 : 수평 정렬*/
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    padding:0 16px;/*상하 0,좌우 16px*/
}
.nav.container a{
    color:#ffffff; /*링크 하얗게(nav 아래 container아래 모든 a태그 */
}
.nav-list{
    display: flex; /*기본값 : 수평 정렬*/
    column-gap: 80px; /*item의 열 사이 공간*/
    font-weight: var(--font-extra-bold);
}
.nav-toggle{
    font-size: var(--h2-font-size);/*햄버거 메뉴 조금 그케*/
    visibility: hidden;/*햄버거 메뉴 안보이게*/
}
/*tablet*/
@media screen and (max-width:768px){
    
}

/*tablet*/
@media screen and (max-width:576px){
    /*.nav-logo 가운데*/
    .nav-logo{
        margin: 0 auto;
    }
    /*.nav-list navbar 아래로*/
    .nav-list{
        position: absolute;
        top: 44px; /*navbar 아래로*/
        right: 0;
        left: 0;/*너비를 양 옆으로 늘리기*/
        flex-direction: column; /*수직 배열*/
        /*align-items: center; /*교차축 가운데*/
        text-align: center;/*글자만 가운데로*/
        background-color: #00ADB566;
        backdrop-filter: blur(10px);/*블러효과*/
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    .nav-item{
        padding: 1em 0;
        border-bottom: 2px solid #ffffff;
    }
    .nav-link{
        display: block;
    }
    /*.nav-toggle 보이게*/
    .nav-toggle{
        visibility: visible;
        position: absolute;/*절대적임/.nav-logo 가운데 정확히 위치*/
        right: 16px;

    }
    /*show-menu하면 .nav-list 보이게*/
    /*show-menu하면 .nav-toggle 버튼 X로*/
    .show-menu{
        height: 150px;

    }
    
}