@media screen and (min-width:721px) {
    .btn_div{
        margin: 4em;
    }
    .back {
        padding: 1.8em 2.8em;
        
    }
    .next {
        padding: 1.8em 2.8em;
        
    }
}
@media screen and (max-width:720px) {
    .btn_div{
        margin: 3em;
    }
    .back {
        padding: 1.6em 2.6em;
        
    }
    .next {
        padding: 1.6em 2.6em;
        
    }
    
}
/*모바일*/
@media screen and (max-width:540px) {
    .btn_div{
        margin: 2em;
    }
    .back {
        padding: 1.2em 2.2em;
    }
    .next {
        padding: 1.2em 2.2em;
    }
    
}